<div id="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div style="left: 0px; top: 0px; width: 119px; height: 119px;">
          <ion-row>
            <ion-col size="12">
              <img style="border-radius: 10px" src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg">
            </ion-col>
            <div class="row">
              <div class="col"></div>
            </div>
          </ion-row>
        </div>
         <div style=" width: 100%;border-style: none none inset; "></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
