<div id="container">
  <!--    div style="left: 0px; top: 0px; width: 119px; height: 119px;">-->
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2"><select name="" id="">sda</select></div>
  </div>
  <div class="row" style="height: 200px">
    <div class="col-3">
      <div class="row mt-5"><img style="border-radius: 10px; width: 23%"
                                 src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg">
      </div>
    </div>
    <div class="col-1">
      <ion-icon name="home"></ion-icon>
    </div>
  </div>
  <!--    </div>-->
  <div style=" width: 100%;border-style: none none inset; "></div>

</div>
