ion-icon {
  width: 13px;
  height: 13px;
  margin-top: 5px;
  margin-left: 110px;
}
.full-icon {
  width: 13px;
  height: 13px;
  margin-top: 5px;
  margin-left: 264px;
}

.icon-right {
  width: 13px;
  height: 13px;
  margin-top: 5px;
  margin-left: 90px;
}

.a {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

ion-toolbar .row {
  background: #14c057;
}

.search {
  padding: 8px 8px 0px 0px;
}

.se {
  padding-top: 4%;
  padding-left: 22%;
  color: #ffffff;
  height: 55px;
}

.left {
  color: #0d0d0d;
  margin-top: 0px;
  margin-left: 60px;
  margin-bottom: 0 !important;
  border-radius: 0px;
}

.ri {
  margin: 0px 0px !important;
}

.right {
  color: #0d0d0d;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0 !important;
  border-radius: 0px;
}

.unleft {
  margin-left: 25%;
  margin-bottom: 2%;
  width: 100%;
  border-style: none none inset;
}

.QR {
  color: #14aefc;
  width: 24px;
  height: 24px;
  margin-left: 51%
}

.un {
  margin-left: 14%;
  margin-bottom: 2%;
  width: 100%;
  border-style: none none inset;
}

.unright {
  margin-left: 11%;
  margin-bottom: 2%;
  width: 100%;
  border-style: none none inset;
}

//#sor .row {
//  width: 12px
//}
//
//#sor .row ion-icon {
//  color: #0eaf4d
//}

