<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="row">
      <div class="col-12 se"><strong>Khai báo thông tin người thuê</strong>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="height: 10% ;margin-top: 10%" class="row">

    <div class="col-6 a">
      <div class="row">
        <div class="row">
          <a class="left" href="">Nhà trọ</a>
          <ion-icon name="caret-down"></ion-icon>
          <div class="unleft"></div>
        </div>
      </div>
    </div>

    <div class="col-6 a">
      <div class="row">
        <div class="row ri">
          <a class="right" href="">Phòng trọ</a>
          <ion-icon class="icon-right" name="caret-down"></ion-icon>
          <div class="unright"></div>
        </div>
      </div>
    </div>

  </div>

  <div style="height: 10%" class="row">

    <div class="col-12 a">
      <div class="row">
        <div class="row" style="width: 94%">
          <a class="left" href="">1. CCCD/CMND<span style="color: red">*</span></a>
          <ion-icon class="QR" name="barcode-outline"></ion-icon>
          <div class="un"></div>
        </div>
      </div>
    </div>

  </div>

  <div style="height: 10%" class="row">

    <div class="col-12 a">
      <div class="row">
        <div class="row" style="width: 94%">
          <a class="left" href="">2. Họ và tên<span style="color: red">*</span></a>
          <div class="un"></div>
        </div>
      </div>
    </div>

  </div>

  <div style="height: 10%" class="row">

    <div class="col-12 a">
      <div class="row">
        <div class="row" style="width: 94%">
          <a class="left" href="">3. Ngày sinh<span style="color: red">*</span></a>
          <div class="un"></div>
        </div>
      </div>
    </div>

  </div>

  <div style="height: 10%" class="row">

    <div class="col-12 a">
      <div class="row">
        <div class="row" style="width: 94%">
          <a class="left" href="">4. Giới tính<span style="color: red">*</span></a>
          <ion-icon class="full-icon" name="caret-down"></ion-icon>

          <div class="un"></div>
        </div>
      </div>
    </div>

  </div>


  <div style="height: 10%" class="row">

    <div class="col-6 a">
      <div class="row">
        <div class="row">
          <a class="left" href="">5. Tỉnh<span style="color: red">*</span></a>
          <ion-icon name="caret-down"></ion-icon>
          <div class="unleft"></div>
        </div>
      </div>
    </div>

    <div class="col-6 a">
      <div class="row">
        <div class="row ri">
          <a class="right" href="">Phòng trọ<span style="color: red">*</span></a>
          <ion-icon class="icon-right" name="caret-down"></ion-icon>
          <div class="unright"></div>
        </div>
      </div>
    </div>

  </div>
  <div style="height: 10%" class="row">

    <div class="col-6 a">
      <div class="row">
        <div class="row">
          <a class="left" href="">Nhà trọ<span style="color: red">*</span></a>
          <ion-icon name="caret-down"></ion-icon>
          <div class="unleft"></div>
        </div>
      </div>
    </div>

    <div class="col-6 a">
      <div class="row">
        <div class="row ri">
          <a class="right" href="">Phòng trọ<span style="color: red">*</span></a>
          <ion-icon class="icon-right" name="caret-down"></ion-icon>
          <div class="unright"></div>
        </div>
      </div>
    </div>

  </div>
  <div style="height: 10%" class="row">

    <div class="col-6 a">
      <div class="row">
        <div class="row">
          <a class="left" href="">Nhà trọ<span style="color: red">*</span></a>
          <ion-icon name="caret-down"></ion-icon>
          <div class="unleft"></div>
        </div>
      </div>
    </div>

    <div class="col-6 a">
      <div class="row">
        <div class="row ri">
          <a class="right" href="">Phòng trọ<span style="color: red">*</span></a>
          <ion-icon class="icon-right" name="caret-down"></ion-icon>
          <div class="unright"></div>
        </div>
      </div>
    </div>

  </div>
  <div style="height: 10%" class="row">

    <div class="col-6 a">
      <div class="row">
        <div class="row">
          <a class="left" href="">Nhà trọ<span style="color: red">*</span></a>
          <ion-icon name="caret-down"></ion-icon>
          <div class="unleft"></div>
        </div>
      </div>
    </div>

    <div class="col-6 a">
      <div class="row">
        <div class="row ri">
          <a class="right" href="">Phòng trọ<span style="color: red">*</span></a>
          <ion-icon class="icon-right" name="caret-down"></ion-icon>
          <div class="unright"></div>
        </div>
      </div>
    </div>

  </div>


</ion-content>


