ion-icon{
  width: 40px;
  height: 40px;
  color: #ffffff;
}

ion-toolbar .row{
  background: #14c057;
}
.search{
  padding: 8px 8px 0px 0px;
}
.se{
  padding-top: 4%;
  padding-left: 15%;
  color: #f2f2f2;
}
