<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="row">
        <div class="col-11">
        </div>
        <dov class="col-1">
          <ion-icon class="search" name="search"></ion-icon>
        </dov>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="row">
        <div class="col-11">
        </div>
        <dov class="col-1">
          <ion-icon class="search" name="search"></ion-icon>
        </dov>
      </div>
    </ion-toolbar>
  </ion-header>
  <app-home name="Tab 1 page"></app-home>
  <!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
