<!--<div id="container">-->
<div class="row">
  <div class="col-10"></div>
  <div class="col-1">
    <dic class="row">
      <ion-icon name="caret-up-sharp"></ion-icon>
    </dic>
    <dic class="row">
      <ion-icon name="caret-down-sharp"></ion-icon>
    </dic>
  </div>
</div>
<div class="row" style="height: 200px">
  <div class="col-2 ">
    <div class="row mt-5 ml-5">
      <img class="img-ava" src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg">
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <ion-icon class="ic1" name="home"></ion-icon>
      <strong class="in1">Nha tro</strong>
    </div>
    <div class="row">
      <ion-icon class="ic" name="location-sharp"></ion-icon>
      <p class="in">Thôn Sy - xã Nội Hoàng - huyện Yên Dũng</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="logo-usd"></ion-icon>
      <p class="in">800.000-1.000.000đ</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="business-sharp"></ion-icon>
      <p class="in">Phòng trống: 3</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="document-text-sharp"></ion-icon>
      <p class="in">Dịch vụ: Wifi, điều hoà, thang
        <máy class=". ."></máy>
      </p>
    </div>
    <div class="row">
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <p class="in">(4/5)</p><a href="">10 Đánh giá</a>
    </div>
  </div>
</div>
<div style=" width: 100%;border-style: none none inset; "></div>
<div class="row" style="height: 200px">
  <div class="col-2 ">
    <div class="row mt-5 ml-5">
      <img class="img-ava" src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg">
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <ion-icon class="ic1" name="home"></ion-icon>
      <strong class="in1">Nha tro</strong>
    </div>
    <div class="row">
      <ion-icon class="ic" name="location-sharp"></ion-icon>
      <p class="in">Thôn Sy - xã Nội Hoàng - huyện Yên Dũng</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="logo-usd"></ion-icon>
      <p class="in">800.000-1.000.000đ</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="business-sharp"></ion-icon>
      <p class="in">Phòng trống: 3</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="document-text-sharp"></ion-icon>
      <p class="in">Dịch vụ: Wifi, điều hoà, thang
        <máy class=". ."></máy>
      </p>
    </div>
    <div class="row">
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <p class="in">(4/5)</p><a href="">10 Đánh giá</a>
    </div>
  </div>
</div>
<div style=" width: 100%;border-style: none none inset; "></div>
<div class="row" style="height: 200px">
  <div class="col-2 ">
    <div class="row mt-5 ml-5">
      <img class="img-ava" src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg">
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <ion-icon class="ic1" name="home"></ion-icon>
      <strong class="in1">Nha tro</strong>
    </div>
    <div class="row">
      <ion-icon class="ic" name="location-sharp"></ion-icon>
      <p class="in">Thôn Sy - xã Nội Hoàng - huyện Yên Dũng</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="logo-usd"></ion-icon>
      <p class="in">800.000-1.000.000đ</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="business-sharp"></ion-icon>
      <p class="in">Phòng trống: 3</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="document-text-sharp"></ion-icon>
      <p class="in">Dịch vụ: Wifi, điều hoà, thang
        <máy class=". ."></máy>
      </p>
    </div>
    <div class="row">
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <p class="in">(4/5)</p><a href="">10 Đánh giá</a>
    </div>
  </div>
</div>
<div style=" width: 100%;border-style: none none inset; "></div>
<div class="row" style="height: 200px">
  <div class="col-2 ">
    <div class="row mt-5 ml-5">
      <img class="img-ava" src="http://bppl.kkp.go.id/uploads/publikasi/karya_tulis_ilmiah/default.jpg">
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <ion-icon class="ic1" name="home"></ion-icon>
      <strong class="in1">Nha tro</strong>
    </div>
    <div class="row">
      <ion-icon class="ic" name="location-sharp"></ion-icon>
      <p class="in">Thôn Sy - xã Nội Hoàng - huyện Yên Dũng</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="logo-usd"></ion-icon>
      <p class="in">800.000-1.000.000đ</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="business-sharp"></ion-icon>
      <p class="in">Phòng trống: 3</p>
    </div>
    <div class="row">
      <ion-icon class="ic" name="document-text-sharp"></ion-icon>
      <p class="in">Dịch vụ: Wifi, điều hoà, thang
        <máy class=". ."></máy>
      </p>
    </div>
    <div class="row">
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <ion-icon class="ics" name="star-sharp"></ion-icon>
      <p class="in">(4/5)</p><a href="">10 Đánh giá</a>
    </div>
  </div>
</div>
<div style=" width: 100%;border-style: none none inset; "></div>
<!--</div>-->
